body {
  margin: 0;
}

.subscriber-overlay-wrapper {
  height: 0;
  padding-bottom: 56%;
  position: relative;
  width: 100%;
}

.subscriber-overlay-wrapper video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
